.custom-card-text {
  color: #fff3f3;
}

.custom-card-text .card-title {
  color: #4e0202;
  font-weight: bold;
}

.bg-light {
  background-color: rgba(193, 23, 23, 0.518) !important;
}

.custom-card-btn {
  background-color: rgb(128, 0, 17) !important;
  border-color: rgba(253, 112, 112, 0.699) !important;
}

.custom-card-text:hover {
  background: #480000;
  color: white;
  .card-title {
    color: #f8d7da;
  }
  .custom-card-btn {
    background-color: rgb(255, 133, 149) !important;
    border-color: rgba(255, 255, 255, 0.699) !important;
  }
}

.custom-card-text-i {
  color: #fff8f8;
}

.custom-card-text-i .card-title-i {
  color: #f5a2a2;
  font-weight: bold;
}

.bg-light-i {
  background-color: rgba(99, 3, 3, 0.943) !important;
}

.custom-card-btn-i {
  background-color: rgb(221, 122, 122) !important;
  border-color: rgba(214, 112, 112, 0.699) !important;
}

.custom-card-text-i:hover {
  background: #ec8282;
  color: fff3f3;
  .card-title-i {
    color: #601d1d;
  }
  .custom-card-btn-i {
    background-color: rgb(62, 8, 8) !important;
    border-color: rgba(255, 255, 255, 0.699) !important;
  }
}

.card-background-i {
  background-color: rgb(88, 14, 14) !important;
}
