{% extends "base.html" %}
{% block title %}All Interests{% endblock %}

{% block content %}
</br>
<h2 class="mb-4">Explore All Interests</h2>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

    {% for interest in interests_cards %}
    <div class="col">
      <div class="card text-white bg-light-i mb-3 h-50 d-flex flex-column text-primary" style="min-height: 250px;">
        <div class="card-body custom-card-text-i">
          <h5 class="card-title-i">{{ interest.name }}</h5>
          <p class="card-text">{{ interest.quote }}</p>
          <a href="{{ url_for('interest.interest_page', interest_name=interest) }}" class="btn btn-sm btn-primary custom-card-btn-i">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
